name: main

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
      runtime:
        required: true
        type: string

    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_ACCOUNT_ID:
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ inputs.service_name }}
  cancel-in-progress: false

permissions:
  contents: write

jobs:
  # Step 2: Download TF state from S3 and save outputs as artifact


  # Semantic versioning
  versioning:
    runs-on: ubuntu-latest

    outputs:
      new_version: ${{ steps.bump.outputs.version }}

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
    - run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
    - run: chmod +x ./.github/actions/scripts/bump-version.sh
    - id: bump
      run: COMPONENT=${{inputs.service_name}} ./.github/actions/scripts/bump-version.sh

  # Build and push Docker image to ECR

  # Create Git tag
  tag_release:
    runs-on: ubuntu-latest
    needs: [ versioning ]
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}
    - run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
    - run: |
        VERSION=${{ needs.versioning.outputs.new_version }}
        SERVICE=${{ inputs.service_name }}
        FINAL_TAG="${SERVICE}-${VERSION}"

        echo "Tagging with: $FINAL_TAG"
        git tag "$FINAL_TAG"
        git push origin "$FINAL_TAG"

  #updating repo
  update-helm-values:
    runs-on: ubuntu-latest
    needs: [ push, versioning, tf-outputs ]
    steps:
    - name: Checkout Helm Repo
      uses: actions/checkout@v4
      with:
        repository: jamiekariuki/DevSecOps-helm-charts
        token: ${{ secrets.HELM_REPO_PAT }}
        path: app
        ref: main

    - name: Run update script
      run: |
        chmod +x .github/actions/scripts/update-helm.sh

        .github/actions/scripts/update-helm.sh \
          "${{ inputs.service_name }}" \
          "${{ needs.versioning.outputs.new_version }}" \
          "ECR_URL" \
          "app" \
          "main" \
          "app" \
          "dev"
