name: main

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
      runtime:
        required: true
        type: string
      environment:
        required: true
        type: string  

    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_ACCOUNT_ID:
        required: true
      HELM_REPO_PAT:
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ inputs.service_name }}
  cancel-in-progress: false

permissions:
  contents: write

jobs:
  #Download TF state from S3 and save outputs as artifact

  tf-outputs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Load TF Outputs from s3
      uses: ./.github/actions/load-tf-outputs-s3
      with:
        environment: dev #we are using same registry for all environments so all workspace will have same urls
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
        aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}
        service: ${{inputs.service_name}}

  # Semantic versioning
  versioning:
    runs-on: ubuntu-latest

    outputs:
      new_version: ${{ steps.bump.outputs.version }}

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
    - run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
    - run: chmod +x ./.github/actions/scripts/bump-version.sh
    - id: bump
      run: COMPONENT=${{inputs.service_name}} ./.github/actions/scripts/bump-version.sh

  # Build and push Docker image to ECR
  push:
    runs-on: ubuntu-latest
    needs: [ versioning, tf-outputs ]
    env:
      VERSION: ${{ needs.versioning.outputs.new_version }}

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: docker/setup-buildx-action@v3

    - uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Load TF Outputs
      uses: ./.github/actions/load-tf-outputs
      with:
        service: ${{inputs.service_name}}

    - name: Build, tag, and push image to ECR
      run: |
        echo "ECR_REGISTRY=$ECR_URL"
        echo "VERSION=$VERSION"
        docker build -t $ECR_URL:$VERSION ./${{inputs.dockerfile}}
        docker push $ECR_URL:$VERSION

  # Create Git tag
  tag_release:
    runs-on: ubuntu-latest
    needs: [ push, versioning ]
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}
    - run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
    - run: |
        VERSION=${{ needs.versioning.outputs.new_version }}
        SERVICE=${{ inputs.service_name }}
        FINAL_TAG="${SERVICE}-${VERSION}"

        echo "Tagging with: $FINAL_TAG"
        git tag "$FINAL_TAG"
        git push origin "$FINAL_TAG"

  #updating app version
  update-app-version:
    runs-on: ubuntu-latest
    needs: [ push, versioning, tf-outputs ]
    steps:

    - name: Checkout Current Repo
      uses: actions/checkout@v4

    - name: Checkout Helm Repo
      uses: actions/checkout@v4
      with:
        repository: jamiekariuki/DevSecOps-helm-charts
        token: ${{ secrets.HELM_REPO_PAT }}
        ref: main

    - name: Run update script
      run: |
        chmod +x ./.github/actions/scripts/update-version.sh

        .github/actions/scripts/update-version.sh \
          "${{ inputs.service_name }}" \
          "${{ needs.versioning.outputs.new_version }}" \
          "app" \
          "${{ inputs.environment }}" 
